<div class="site-bottom-nav">
  <w-bottom-navigation :value="active" grow>
    <w-bottom-nav-item value="home" icon="⌂" label="Home" href="/"></w-bottom-nav-item>
    <w-bottom-nav-item value="atlas" icon="◈" label="Atlas" href="/atlas"></w-bottom-nav-item>
    <w-bottom-nav-item value="docs" icon="✎" label="Docs" href="/docs"></w-bottom-nav-item>
    <w-bottom-nav-item value="github" icon="⇄" label="GitHub" href="https://github.com/d31ma/Tachyon"></w-bottom-nav-item>
  </w-bottom-navigation>
</div>
