# Tachyon environment variables
PORT=8000
TIMEOUT=70
DEV=
VALIDATE=
HOSTNAME=127.0.0.1
ALLOW_HEADERS=*
ALLOW_ORIGINS=*
ALLOW_CREDENTIALS=
ALLOW_EXPOSE_HEADERS=*
ALLOW_MAX_AGE=3600
ALLOW_METHODS=GET,POST,PUT,DELETE,PATCH,OPTIONS
BASIC_AUTH=username:password